@import './common';
@import './example';

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: rgb(218, 218, 218);

  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #757575;
}

.header {
  min-width: 320px;
  height: 50px;
  background-color: rgb(51, 49, 184);
}
.search-form {
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
  justify-content: center;
}
.search-form input {
  height: 30px;
  margin-right: 5px;
  padding: 0px 10px;
}

.search-form button {
  height: 30px;
  padding: 0px 20px;
}
.gallery {
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
img {
  object-fit: cover;
  width: 100%;
  height: 80%;
}

.imgCard {
  background-color: rgb(255, 255, 255);
  width: 360px;
  height: 280px;
  box-shadow: 0px 2px 3px 0px rgb(204, 204, 204);
  border-radius: 0 0 3px 3px;
  &--info {
    display: flex;
    flex-direction: row;
    gap: 20px;

    padding-inline: 20px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 5px 5px 0 0;
    &__item {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }
}

.load-more {
  background-color: rgb(204, 204, 204);
  color: rgb(51, 49, 184);
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 20px;
  margin-block: 20px;
  animation: 300ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.load-more:hover {
  outline: #020202 2px solid;
  cursor: pointer;
}

.boxButton {
  background-color: rgb(51, 49, 184);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  width: 100vw;
  bottom: 0px;
}
